table{
  width: 50%;
  border-collapse: collapse;
}

table, td, th{
  border: 1px solid black;
}
td, th {
    height: 30px;
}

th{
  text-align: right;
  vertical-align: top;
}

tr:nth-child(even){
  background-color: #D1D1D1;
}
